<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alarm">

	<insert id="addAlarm" parameterType="com.daesin.beans.AlarmBean">
	<![CDATA[
	insert into board_alarm(a_receiver, a_caller, a_bno) 
	values (#{aReceiver},#{aCaller},#{aBno})
	]]>
	</insert>
	
	<select id="searchAlarm" parameterType="java.lang.String" resultType="com.daesin.beans.AlarmBean">
	
	<![CDATA[
	select *
	from board_alarm
	where a_receiver=#{receiver}
	]]>
	</select>

	
</mapper>
