<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<!-- <insert id="addContentInfo"
		parameterType="com.daesin.beans.BoardBean">

		<selectKey keyProperty="content_idx" order="BEFORE"
			resultType="java.lang.Integer">
			select content_seq.nextval from dual
		</selectKey>
	
	<![CDATA[
	insert into content_table(content_idx,content_subject,content_text,
	content_file,content_writer_idx,content_board_idx, content_date) 
	values (#{content_idx}, #{content_subject}, #{content_text}, #{content_file, jdbcType=VARCHAR},
		#{content_writer_idx}, #{content_board_idx}, sysdate)
	]]>
	</insert> -->

	<select id="getBoardInfoName" parameterType="java.lang.Integer"
		resultType="java.lang.String">
	<![CDATA[
	select c_name
	from category
	where c_no=#{cNo}
	]]>
	</select>

	<select id="getBoardList" parameterType="java.lang.Integer"
		resultType="com.daesin.beans.BoardBean">
	<![CDATA[
	select b_cno, b_no, b_title, b_reward, b_location, to_char(b_write_time, 'YYYY-MM-DD')
			from board
			where b_cno=#{bCno}
			order by b_no desc
	]]>
	</select>

	<!-- <select id="getContentInfo" parameterType="java.lang.Integer"
		resultType="kr.co.softcampus.beans.ContentBean">
	<![CDATA[
	select a2.user_name as content_writer_name,
	to_char(a1.content_date, 'YYYY-MM-DD') as content_date,
	a1.content_subject, a1.content_text, a1.content_file, a1.content_writer_idx 
	from content_table a1, user_table a2
	where a1.content_writer_idx = a2.user_idx and content_idx=${content_idx}
	]]>
	</select> -->

	<!-- <update id="modifyContentInfo"
		parameterType="kr.co.softcampus.beans.ContentBean">
	<![CDATA[
	update content_table
	set content_subject = #{content_subject}, content_text=#{content_text},
	content_file = #{content_file, jdbcType=VARCHAR}
	where content_idx = #{content_idx}
	]]>
	</update>

	<select id="deleteContentInfo" parameterType="java.lang.Integer">
	<![CDATA[
	delete from content_table where content_idx=#{content_idx}
	]]>
	</select> -->

	<select id="getContentCnt" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
	<![CDATA[
	select count(*) from board where b_cno = #{bCno}
	]]>
	</select>

</mapper>
