<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<insert id="addContentInfo" parameterType="com.daesin.beans.BoardBean">
	<![CDATA[
	insert into board(b_cno,b_title,b_content, b_reward, b_write_time,b_end_time,b_mno, bi_name, b_addr1, b_addr2, b_addr3) 
	values (#{bCno},#{bTitle}, #{bContent}, #{bReward},sysdate, #{bEndTime}, #{bMno},#{biName, jdbcType=VARCHAR}, #{bAddr1},#{bAddr2},#{bAddr3})
	]]>
		<selectKey keyProperty="bNo" order="AFTER"
			resultType="java.lang.Integer">
			select board_seq.currval from dual
		</selectKey>
	</insert>

	<select id="getBoardInfoName" parameterType="java.lang.Integer"
		resultType="java.lang.String">
	<![CDATA[
	select c_name
	from category
	where c_no=#{cNo}
	]]>
	</select>

	<select id="getBoardList" parameterType="java.lang.Integer"
		resultType="com.daesin.beans.BoardBean">
	<![CDATA[
	select b_cno, b_no, b_mno, b_title, b_reward, TO_CHAR(b_write_time, 'YYYY-MM-DD') as b_write_time, b_end_time, b_addr3, b_status
			from board
			where b_cno=#{bCno} and (b_end_time >= (sysdate-1)) and b_status=0
			order by b_no desc
	]]>
	</select>

	<select id="getContentInfo" parameterType="java.lang.Integer"
		resultType="com.daesin.beans.BoardBean">
	<![CDATA[
	select b_mno, b_no, b_title, b_content, bi_name, b_reward, b_addr1, b_addr2,
	TO_CHAR(b_write_time, 'YYYY-MM-DD') as b_write_time,
	TO_CHAR(b_end_time, 'YYYY-MM-DD') as b_end_time,
	b_status, b_reward
	from board
	where b_no = #{bNo}
	]]>
	</select>

	<update id="modifyContentInfo"
		parameterType="com.daesin.beans.BoardBean">
	update board
	set b_title = #{bTitle}, b_content=#{bContent},
	<if test="biName != null">
	bi_name = #{biName, jdbcType=VARCHAR},
	</if> 
	b_reward = #{bReward},
	b_addr1 = #{bAddr1}, b_addr2 =#{bAddr2}, b_end_time = #{bEndTime}
	where b_no = #{bNo}
	</update>

	<select id="deleteContentInfo" parameterType="java.lang.Integer">
	<![CDATA[
	delete from board where b_no=#{bNo}
	]]>
	</select>

	<select id="getContentCnt" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
	<![CDATA[
	select count(*) from board where b_cno=#{bCno} and (b_end_time >= (sysdate-1)) and b_status=0
	]]>
	</select>

</mapper>
