<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
	
	
	<select id="findCommentInfo" parameterType="java.lang.Integer" resultType="com.daesin.beans.CommentBean">
	
	<![CDATA[ 
		SELECT *
		FROM board_comment
		WHERE co_bno = #{bNo}
		]]>
	
	</select>
	
	<insert id="addComment" parameterType="com.daesin.beans.CommentBean">
	<![CDATA[ 
		INSERT INTO board_comment(co_sno,co_bno,co_msg,co_name,co_date)
		VALUES(#{coSno},#{coBno},#{coMsg},#{coName},#{coDate})
		]]>
	
	
	</insert>
	
	<select id="selectComment" parameterType="com.daesin.beans.CommentBean" resultType="com.daesin.beans.CommentBean">
		SELECT co_sno,co_num,co_bno,co_msg,co_name,co_date
		FROM board_comment
		WHERE co_bno=#{coBno}
		order By co_num
	</select>
	
	<select id="getCommentCnt" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
	<![CDATA[
	select count(*) from board_comment where co_bno = #{coBno}
	]]>
	</select>

	

</mapper>