<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="checkMemberIdExist" parameterType="java.lang.String"
		resultType="java.lang.String">
		<![CDATA[
		select m_id
		from member
		where m_id =#{mId}
		]]>
	</select>

	<select id="checkCorrectMember"
		parameterType="com.daesin.beans.MemberBean"
		resultType="com.daesin.beans.MemberBean">
		<![CDATA[
		select m_id, m_email, m_pw
		from member
		where m_id =#{mId} and m_email=#{mEmail}
		]]>
	</select>

	<select id="returnId" parameterType="java.lang.String"
		resultType="java.lang.String">
		<![CDATA[
		select m_id
		from member
		where m_email =#{mEmail}
		]]>
	</select>

	<insert id="addMemberInfo"
		parameterType="com.daesin.beans.MemberBean"> 
		<![CDATA[ insert into MEMBER(m_no, m_id, m_email, m_pw) values 
		(member_seq.nextval, #{mId}, #{mEmail}, #{mPw}) ]]>
	</insert>
	
	<!-- m_no 와 m_id 만 select해서 where절에서 id와 pw값을 비교한 결과값을 반환했더니 null만 나왔다. 
		select 구문에 m_pw 도 조회를 하니까 해결됨 -->
	<select id="getLoginMemberInfo"
		parameterType="com.daesin.beans.MemberBean"
		resultType="com.daesin.beans.MemberBean"> 
		<![CDATA[ 
		select *
		from member 
		where m_id =#{mId} and m_pw=#{mPw}
		]]>
	</select>
	
	<update id="modifyMemberInfo"
		parameterType="com.daesin.beans.MemberBean"> 
		<![CDATA[ 
		update member 
		set m_pw = #{mPw} 
		where m_no = #{mNo} 
		]]>
	</update>
	
	<insert id="addSupporterInfo"
		parameterType="com.daesin.beans.MemberBean"> 
		<![CDATA[ UPDATE MEMBER
		SET s_name=#{sFname}||#{sLname},s_phone=#{sPhone}
		WHERE m_no=#{mNo}
		]]>
	</insert>

</mapper>

