<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="checkMemberIdExist" parameterType="java.lang.String"
		resultType="java.lang.String">
		<![CDATA[
		select m_id
		from member
		where m_id =#{m_id}
		]]>
	</select>


	<!-- mapper.xml -->
	<insert id="createAuthKey">
		insert into userAuth values(#{userEmail}, #{authKey})
	</insert>

	<update id="userAuth">
	<![CDATA[update member set m_certification = 1 where (select count(*) from userAuth where userEmail = #{userEmail}) > 0]]>
	</update>

	<!-- <select id="checkUserNicknameExist" parameterType="java.lang.String" 
		resultType="java.lang.String"> <![CDATA[ select m_nickname from member where 
		m_nickname =#{m_nickname} ]]> </select> <insert id="addUserInfo" parameterType="com.daesin.beans.BoardBean"> 
		<![CDATA[ insert into user_table(user_idx, user_name, user_id, user_pw) values 
		(user_seq.nextval, #{user_name}, #{user_id}, #{user_pw}) ]]> </insert> <select 
		id="getLoginUserInfo" parameterType="com.daesin.beans.BoardBean" resultType="com.daesin.beans.BoardBean"> 
		<![CDATA[ select user_idx, user_name from user_table where user_id = #{user_id} 
		and user_pw=#{user_pw} ]]> </select> <select id="getModifyUserInfo" parameterType="java.lang.Integer" 
		resultType="com.daesin.beans.BoardBean"> <![CDATA[ select user_id, user_name 
		from user_table where user_idx = #{user_idx} ]]> </select> <update id="modifyUserInfo" 
		parameterType="com.daesin.beans.BoardBean"> <![CDATA[ update user_table set 
		user_pw = #{user_pw} where user_idx = #{user_idx} ]]> </update> -->
</mapper>

