<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="checkMemberIdExist" parameterType="java.lang.String"
		resultType="java.lang.String">
		<![CDATA[
		select m_id
		from member
		where m_id =#{m_id}
		]]>
	</select>

	<insert id="addMemberInfo"
		parameterType="com.daesin.beans.MemberBean"> 
		<![CDATA[ insert into MEMBER(m_no, m_id, m_email, m_pw) values 
		(member_seq.nextval, #{mId}, #{mEmail}, #{mPw}) ]]>
	</insert>

	<!-- <select id="checkUserNicknameExist"
		parameterType="java.lang.String" resultType="java.lang.String"> <![CDATA[ select m_nickname from member where 
		m_nickname =#{m_nickname} ]]>
	</select>

	<select id="getLoginUserInfo"
		parameterType="com.daesin.beans.BoardBean"
		resultType="com.daesin.beans.BoardBean"> 
		<![CDATA[ select user_idx, user_name from user_table where user_id = #{user_id} 
		and user_pw=#{user_pw} ]]>
	</select>
	<select id="getModifyUserInfo" parameterType="java.lang.Integer"
		resultType="com.daesin.beans.BoardBean"> <![CDATA[ select user_id, user_name 
		from user_table where user_idx = #{user_idx} ]]>
	</select>
	<update id="modifyUserInfo"
		parameterType="com.daesin.beans.BoardBean"> <![CDATA[ update user_table set 
		user_pw = #{user_pw} where user_idx = #{user_idx} ]]>
	</update> -->
</mapper>

