<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="payment">
	
	<insert id="addPaymentInfo" parameterType="com.daesin.beans.PaymentBean">
	<![CDATA[ 
		INSERT INTO board_payment(p_mno,p_amount,p_date)
		VALUES(#{pMno},#{pAmount},sysdate)
		]]>
	</insert>
	
	<update id="updatePointInfo" parameterType="com.daesin.beans.PaymentBean" >
		UPDATE member 
		SET m_point = m_point + #{pAmount}
		WHERE m_no = #{pMno}
	</update>


</mapper>