<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trade">

	<resultMap id="trade" type="com.daesin.beans.TradeBean">
		<id property="tNo" column="t_no" />
		<result property="tSno" column="t_sno" />
		<association property="boardBean"
			javaType="com.daesin.beans.BoardBean">
			<id property="bNo" column="b_no" />
			<result property="bTitle" column="b_title" />
			<result property="bReward" column="b_reward" />
			<result property="bWriteTime" column="b_write_time" />
			<result property="bStatus" column="b_status" />
		</association>
	</resultMap>

	<!-- 거래 정보 삽입 -->
	<insert id="addTradeInfo" parameterType="HashMap">
		<selectKey keyProperty="tReward" order="BEFORE"
			resultType="java.lang.Integer">
			select b_reward from board where b_no=#{tBno}
		</selectKey>
	<![CDATA[
	INSERT INTO board_trade(t_sno,t_bno,t_reward,t_m_status,t_s_status) VALUES(#{tSno},#{tBno},#{tReward},0,0)
	]]>
	</insert>
	
	<!-- 거래 정보 불러오기 -->
	<select id="searchTradeInfo" parameterType="java.lang.Integer" resultType="com.daesin.beans.TradeBean">
		<![CDATA[
		select *
		from board_trade
		where t_bno=#{tBno}
		]]>
	</select>
	
	<!-- 거래 게시판 정보 수정(상태 수정) - 서포터 -->
	<update id="updateTradeBoardInfo1" parameterType="com.daesin.beans.TradeBean" >
	<![CDATA[
	UPDATE board_trade
	SET t_s_status = #{tSStatus}
	WHERE t_bno=#{tBno}
	]]>
	</update>
	
	<!-- 거래 게시판 정보 수정(상태 수정) - 회원 -->
	<update id="updateTradeBoardInfo2" parameterType="com.daesin.beans.TradeBean">
	<![CDATA[
	UPDATE board_trade
	SET t_m_status = #{tMStatus}
	WHERE t_bno=#{tBno}
	]]>
	</update>

	<!-- 게시물 정보 수정(상태 수정) -->
	<update id="updateBoardInfo" parameterType="HashMap">
	<![CDATA[
	UPDATE board
	SET b_status = #{bStatus}
	WHERE b_no=#{tBno}
	]]>
	</update>

	<!-- 멤버 정보 수정 -->
	<update id="updateMemberInfo" parameterType="HashMap">
	<![CDATA[
	UPDATE member
	SET m_point = m_point - #{bReward}
	WHERE m_no = #{mNo}
	]]>
	</update>

	<!-- 멤버 정보 롤백 -->
	<update id="rollbackMemberInfo" parameterType="HashMap">
	<![CDATA[
	UPDATE member
	SET m_point = m_point + #{tReward}
	WHERE m_no = #{mNo}
	]]>
	</update>

	<!-- 서포터 정보 수정 -->
	<update id="updateSupporterInfo" parameterType="HashMap">
		<selectKey keyProperty="tSno" order="BEFORE"
			resultType="java.lang.Integer">
			select t_sno from board_trade where t_bno=#{tBno}
		</selectKey>
	<![CDATA[
	UPDATE member
	SET m_point = m_point + #{tReward}
	WHERE m_no = #{tSno}
	]]>
	</update>

	<!-- 거래 정보 삭제 
	<delete id="deleteTradeInfo" parameterType="HashMap">

		DELETE FROM board_trade
		WHERE t_bno=#{tBno}

	</delete>
	-->

	<!-- 회원 게시물 불러오기 -->
	<select id="getTradeList" parameterType="java.lang.Integer"
		resultType="com.daesin.beans.BoardBean">
	<![CDATA[
	select b_cno, b_no, b_mno, b_title, b_reward, TO_CHAR(b_write_time, 'YYYY-MM-DD') as b_write_time, b_end_time, b_addr3, b_status
			from board
			where b_mno=#{mNo} 
			order by b_no desc
	]]>
	</select>

	<!-- 서포터 관련 게시물 불러오기 -->
	<select id="getTradeList2" parameterType="java.lang.Integer"
		resultMap="trade">
	<![CDATA[
	select b_cno, b_no, b_mno, b_title, b_reward, TO_CHAR(b_write_time, 'YYYY-MM-DD') as b_write_time, b_end_time, b_addr3, b_status, t_no, t_sno
			from board, board_trade
			where t_bno = b_no and t_sno=#{mNo} 
			order by t_no desc
	]]>
	</select>

	<!-- 회원 게시물 카운트 -->
	<select id="getContentCnt" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
	<![CDATA[
	select count(*) from board where b_mno = #{mNo}
	]]>
	</select>

	<!-- 서포터 관련 게시물 카운트 -->
	<select id="getContentCnt2" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
	<![CDATA[
	select count(*) from board, board_trade where t_bno = b_no and t_sno = #{mNo} 
	]]>
	</select>
	
	<!-- 서포터 id 불러오기 -->
	<select id="getSupporterInfo" parameterType="java.lang.Integer" resultType="java.lang.String">
	SELECT m_id
	FROM member
	WHERE m_no = #{tSno}
	</select>

</mapper>
